table {
	padding: 0px;
	border-spacing: 0px;
}

.paddingtd {
	padding: 1px 2px 1px 2px;
}

.width100 {
	width: 100%;
}

.throbber {
	background: url('/icons/throbber.svg');
	display: inline-block;
	height: 16px;
	width: 16px;
}

input[type='password'],
input[type='text'],
input[type='url'],
input:not([type]) {
	border-radius: 2px;
	border: 1px solid #aaa;
	font: -webkit-small-control;
	padding: 3px;
	width: 120px;
}

.close-subpage {
	background-image: url('/icons/IDR_CLOSE_BAR.png');
	height: 16px;
	min-width: 0;
	top: 16px;
	width: 16px;
	box-shadow: none;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	min-width: 0;
	padding: 1px 6px;
}

.close-subpage:hover {
	background-image: url('/icons/IDR_CLOSE_BAR_H.png');
}

@media (prefers-color-scheme: dark) {

	p {
		margin: 0;
		font: -webkit-small-control;
		font-size: 13px;
		background-color: #484854;
		border-radius: 2px;
		padding: 3px;
	}

	body {
		background-color: #1c1b22;
		color: #d8d5d5;
	}

	input[type='password'],
	input[type='text'],
	input[type='url'],
	input:not([type]),
	option:not(:checked) {
		background: #484854;
		color: #d8d5d5;
		border: none;
		outline: none;
		border-top-style: hidden;
		border-right-style: hidden;
		border-left-style: hidden;
	}
}